
[data-disabled] {
    /* CSS for disabled range slider element */
}
 .range-slider__range {
    /* CSS for range */
     background-color: black!important;
}
 .range-slider__range[data-active] {
    /* CSS for active (actively being dragged) range */
}
 .range-slider__thumb {
    /* CSS for thumbs */
     background: white!important;
     border: 2px solid #e4e4e4 !important;
     width: 20px!important;
     height: 20px!important;
}
 .range-slider__thumb[data-lower] {
    /* CSS for lower thumb */
}
 .range-slider__thumb[data-upper] {
    /* CSS for upper thumb */
}
 .range-slider__thumb[data-active] {
    /* CSS for active (actively being dragged) thumbs */

}
 .range-slider__thumb[data-disabled] {
    /* CSS for disabled thumbs */
}